@import '../node_modules/bootstrap/scss/bootstrap';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clock{
  background-image: linear-gradient(to right, #f12711, #f5af19);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 661px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  overflow: unset;
  span{
    font-size: 100px;
  }
  button{
    font-size: 25px;
  }
}